body{
    background: rgb(236,9,132);
background: linear-gradient(90deg, rgba(236,9,132,1) 17%, rgba(244,34,34,1) 100%);
background-repeat: no-repeat;
background-size: cover;
}

#main_section{
    background-image: url(images/mai.jpg);
    height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.main_text{
    background-color:rgb(255, 196, 0);
    width: 50%;
    color: black;
    font-weight: bolder;
}
#main_pad{
    margin-top: 6rem;
}
.style{
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: space-between;
    margin: 2.5px;
   
}
.fas{
    font-size: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;   
}
.back{

    background-color: white;
    color: black;
}
.text-main{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: center;
    justify-items: center;
    font-weight: bold;
}
button{
        position: relative;
        padding: 10px 40px;
        margin: 0px 10px 10px 0px;
        float: left;
        border-radius: 3px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        background-color: #f7e224;
        border: none;
        border-bottom: 5px solid #f7e224;
        text-shadow: 0px -2px #f7e224;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
       }
       
 button:hover, button:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
     transform: translate(0px,5px);
    border-bottom: 1px solid #f7e224;
    }
    .border{
        border:10px solid rgb(255, 230, 0);
        border-color: rgb(255, 230, 0);
    }
    .card-section{
        background-color: white;
    
    }
    .mar_pad{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width:320px) and (max-width:680px) {
        #size{
            width: 100%;
            padding: 29px;
        }  
    }